* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Sawarabi Mincho", serif;
}

.slideshow-container {
    position: relative;
    width: 100vw;
    height: 75vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
    /* Smooth fading transition */
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide.active {
    opacity: 1;
    /* Show the active slide */
}

.intro-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.intro-bottom h1 {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 3rem;
}

.intro-bottom h2 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 1.5rem;
}

.intro-buttons button {
    padding: 10px 20px;
    background-color: #e4ba4e;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.intro-buttons button:hover {
    background-color: white;
}

.about-section {
    display: flex;
    width: 100%;
    margin: 20px 0;
    background-color: #999;
    height: 50vh;
}

.about-left,
.about-right {
    width: 50%;
    padding: 100px;
    box-sizing: border-box;
}

.about-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: #c5c5c5;
}

.about-left h1,
h2 {
    font-size: 4rem;
}

.about-right {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    line-height: 1.6;
}

.info-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    padding: 20px;
    background-color: rgb(255, 231, 166);
    /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Styles for each div (hours and location) */
.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 60%;
    /* Ensure full height of the section */
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.info-box h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.info-box p {
    margin: 5px 0;
    font-size: 1.25rem;
}

.popular-items-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 75px 100px;
    background-color: #f8f8f8;
    color: #333;
}

/* Style for the header */
.popular-items-section h1 {
    font-size: 2em;
    margin: 0;
    text-align: center;
    padding-bottom: 25px;
}

/* Style the list container */
.popular-items-list {
    display: flex;
    gap: 50px;
    width: 100%;
    margin: 20px 0;
}

/* Style each column */
.popular-items-column {
    flex: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.popular-items-column li {
    background-color: #ffffff;
    padding: 15px 15px 5px 15px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

/* Style for individual menu items */
.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    font-weight: bold;
    padding-top: 10px;
    font-size: 1.1em;
}

.item-price {
    font-weight: bold;
    color: #ff6347;
}

/* Style for description */
.item-description {
    margin: 5px 0 15px;
    color: #666;
    font-size: 0.9em;
    padding-bottom: 10px;
}

/* Style the button */
.full-menu-button {
    padding: 10px 20px;
    background-color: #e4ba4e;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    text-decoration: none;
}

.full-menu-button:hover {
    background-color: white;
}

/* Centering container for the button */
.center-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Adjust spacing as needed */
}

/* Button styling */
.view-gallery-button {
    padding: 10px 20px;
    background-color: #e4ba4e;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    text-decoration: none;
    margin-bottom: 75px;
}

.view-gallery-button:hover {
    background-color: white;
}

.contact-section {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    background-color: #f8f8f8;
}

.contact-form {
    flex: 1 1 50%;
    padding: 20px;
    box-sizing: border-box;
    padding: 75px 20%;
}

.contact-form h3 {
    color: #333;
    font-size: 1.75em;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

/* Style for the form */
.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    width: 100%;
    box-sizing: border-box;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #e4ba4e;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    text-decoration: none;
    margin: 25px;
}

.contact-form button:hover {
    background-color: white;
}

/* Message after form submission */
.form-message {
    color: green;
    font-size: 1em;
    margin-top: 10px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {

    .contact-info,
    .contact-form {
        flex: 1 1 100%;
    }
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 250px;
}

.footer-logo img {
    width: 150px;
}

.footer-logo,
.footer-links,
.footer-contact,
.footer-hours,
.footer-social {
    margin: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-social img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.footer h4 {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.footer p {
    margin: 5px 0;
}