* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Noto Sans", serif;
}

.slideshow-container {
    position: relative;
    width: 100vw;
    height: 75vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
    /* Smooth fading transition */
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide.active {
    opacity: 1;
    /* Show the active slide */
}

.intro-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.intro-bottom h1 {
    padding-bottom: 50px;
    text-transform: uppercase;
}

.intro-bottom h2 {
    text-align: center;
    padding-bottom: 50px;
}

.intro-buttons {
    display: flex;
    gap: 10vw;
    padding-bottom: 50px;

}

.intro-buttons button {
    padding: 10px 20px;
    background-color: #e4ba4e;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-family: "Noto Sans", serif;
    font-weight: 500;
    font-size: 1.1rem;
}

.intro-buttons button:hover {
    background-color: white;
}

.about {
    display: flex;
    width: 100vw;
    height: 75vh;
    background-color: rgb(107, 107, 107);
}

.about-left,
.about-right {
    width: 50%;
    box-sizing: border-box;
    position: relative;
    margin: auto;
}

.about-left img {
    width: 100%;
    height: 75vh;
    display: block;
    opacity: 0.5;
}

.about-left h2 {
    position: absolute;
    top: 40%;
    right: 5%;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 2.5rem;
}

.about-left h3 {
    position: absolute;
    top: 50%;
    right: 5%;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
}

.about-right p {
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 5%;
    padding-bottom: 2.5%;
    color: white;
}

.about-right button {
    padding: 0.5rem 2rem;
    color: white;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 5%;
}

.visit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.visit h2 {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.visit-info {
    background-color: #e4ba4e;
    width: 60vw;
    height: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
}

.visit-info div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
}

.hours,
.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu h2 {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}